@use "/src/index.scss" as *;


.inputContainer {
  border: $colorLight;

  label {
    color: $colorLight;
  }
  fieldset {
    color: $colorLight;
    border: 1px solid $colorLight;
  }
  div {
	&:hover {
		fieldset {
			border-color: $colorLight !important;
		}
	}
  }

}
input {
  color: $colorLight !important;
  &:hover {
    fieldset {
      border: $colorLight;
    }
  }
}

button.addButton {
  padding: 10px;
  margin-left: 10px;
  background-color: $colorAccent;
  color: $colorDark;

  &:hover {
    opacity: 0.8;
    background-color: $colorAccent;
  }
}
