@use "/src/index.scss" as *;


header.header {
  display: flex;
  justify-content: center;
  // padding: 20px;
  background-color: $colorAccent;
  color: $colorDark;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {


}
